:root {
  --dark-color: #111;
  --ligth-color: #f3f3f3;
  --medium-color: #bbb;
  --border-color: #ddd;
  --main-color: #0074d9;
  --error-color: #ff4136;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  font-family: sans-serif;
  color: var(--dark-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 50px auto;
  background-color: var(--ligth-color);
  max-width: 640px;
  padding: 20px 20px;
  border-radius: var(--border-radius);
}

.play,
.stop {
  width: 80px;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  opacity: 0.8;
}

.video {
  max-width: 100%;
}

.controls {
  display: flex;
  gap: 5px;
}

.play:hover,
.stop:hover {
  opacity: 0.4;
}
